{% extends 'main/od.html' %}

{% block title %}
Сплав по реке Сакмара
{% endblock %}

{% block content %}

<style>
  body { background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEV5VTwU+buTAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC);
  color: aqua;
  }
</style>

<div class="b_inner__map">

					<h2>Информация о регионе</h2>
			<p><b>Административный центр</b>: город Оренбург, основанный в 1743 году.<br>
<br>
<b>Область образована</b>: 7 декабря 1934 года.<br>
<br>
<b>Географическое положение</b><br>
<br>
Протяженность Оренбургской области с запада на восток составляет 755 км, с севера на юг – 425 км. Общая протяженность границ составляет 3700 км. Вся западная граница Оренбургской области приходится на Самарскую область. На северо-западе область граничит с Татарстаном, а на юго-западе – с Саратовской областью. Северная граница от реки Ик до реки Урал огибает Башкортостан. На северо-востоке область граничит с Челябинской областью. На востоке и юге область граничит с Казахстаном.<br>
</p><p style="text-align: center;">
	<img width="534" alt="Оренбургская область" src="https://tourism.gov.ru/upload/medialibrary/77b/064972aa623f1a5fc4f091a911884729.jpg" height="401" title="Оренбургская область">
</p>
Площадь Оренбургской области составляет 123 702 кв км, население - 1,995 млн человек (2016 год).<br>
<br>
<b>Климатические особенности</b><br>
<p>
</p>
<p>
</p>
<p>
	Климат - сухой континентальный, с большой амплитудой колебаний средней температуры, которая достигает 34-38С. В связи с этим отмечается недостаточность атмосферных осадков, годовая сумма которых колеблется от 450 мм на северо-западе до 350 мм на юге и юго-востоке области. Около 60-70% годового количества осадков приходится на теплый период. Продолжительность залегания снегового покрова составляет от 135 дней на юге до 154 дней на севере области.
</p>
<p>
	<b>Туристические возможности</b>
</p>
<p class="" style="text-align: center;">
	<b><img width="534" alt="f287d7da4c5952aeee53b590a804b0d8.jpg" src="https://tourism.gov.ru/upload/medialibrary/1cf/f287d7da4c5952aeee53b590a804b0d8.jpg" height="401" title="f287d7da4c5952aeee53b590a804b0d8.jpg"><br>
	</b>
</p>
<p>
	Оренбургская область знаменита своими степями, здесь есть даже институт Степи, и, конечно, степной заповедник. Его площадь 21,7 тыс. га, там степные экосистемы сохраняются в неприкосновенности. Кроме степей, Оренбургская область богата лесами, которые также охраняются. Например, национальный парк Бузулукский бор - его площадь 57 тысяч гектаров, большая часть территории - пески, образованные из пермских отложений, и великолепные сосны. Со всех сторон огромный сосновый бор окружен лиственным лесом. В водоемах бора водятся 24 вида рыб (язь, голец, налим, быстрянка, ручьевая форель), в самом лесу живут 44 вида животных. Особый интерес зоологов вызывает редкая летучая мышь с размахом крыльев до 40 см - вечерница гигантская. <br>
</p>
<p class="" style="text-align: center;">
	<img width="534" alt="Оренбургская область" src="https://tourism.gov.ru/upload/medialibrary/56f/7b6e09b1533e703ac4149d9642dafb0f.jpg" height="300" title="Оренбургская область"><br>
</p>
<p>
	Любителей народного промысла привлекут традиционные пуховые платки, необычайно тонкой работы, с оригинальным узором и отделкой. Купить их можно в специальных сувенирных киосках, или заказать мастеру. Для тех, кто отправляется в путешествие, чтобы поправить свое здоровье, в Оренбургской области есть бальнеологический курорт Гай. Популярные места для туризма связаны с чудесами природы - например, причудливая гора Верблюд, похожая на лежащего верблюда, только верблюд этот - 20 метров высотой. <br>
</p>
<p class="" style="text-align: center;">
	<img width="534" alt="Оренбургская область" src="https://tourism.gov.ru/upload/medialibrary/e12/a7f5d0d5fd13957fe57177217588be6f.jpg" height="356" title="Оренбургская область"><br>
</p>
<p>
	В Оренбургской области расположен знаменитый курорт Соль-Илецк. Озера курорта с минеральной водой и донными грязями обладают особыми целительными свойствами и сопоставимы с Мертвым морем. Сезон отдыха и купания начинается на курорте в июне, а самое популярное время – июль и начало августа. Уникальные озера располагаются на высоте 120 м над уровнем моря и занимают площадь в 53 га. Регион насчитывает 6 озер Илецкого соляного купола, среди которых озера Развал и Новое относят к соленым минеральным (рапным), озера Тузлучное и Дунино содержат лечебную грязь и рапу, а маломинерализованными считаются Большое и Малое городские озера.
</p>
<p class="" style="text-align: center;">
	<img width="534" alt="Оренбургская область" src="https://tourism.gov.ru/upload/medialibrary/095/5e2fad70e7bbd9f6e7bd087eaf0867e2.jpg" height="356" title="Оренбургская область"><br>
</p>
<p>
	 Любителей более древней истории заинтересует Змеиная гора села Михайловка, где в песчаниках обнаружено множество останков морских беспозвоночных юрского периода. На обрыве можно видеть срез отложений верхне-юрского периода. Там проводятся экскурсии, и можно увезти с собой в качестве сувенира остры белемнитов, раковины аммонитов.
</p>
<p>
	 Тех, кого интересует более практический аспект природы, ждет вишневый лес Шийлиагаш - это место, где вишня образует сплошные заросли площадью в несколько сотен гектаров. Вишню можно собирать!
</p>
<p>
	 Туристы также могут посетить село Аксаково, со старинными домами и деревьями, которые помнят самого С.Т. Аксакова, известного русского писателя XIX века. <br>
</p>
<p class="" style="text-align: center;">
	<img width="534" alt="04c4a0e5b9482cac6b3c0435420d0e13.JPG" src="https://tourism.gov.ru/upload/medialibrary/95c/04c4a0e5b9482cac6b3c0435420d0e13.JPG" height="355" title="04c4a0e5b9482cac6b3c0435420d0e13.JPG"><br>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
	 Богатая история Оренбурга отражена в экспозиции краеведческого музея, основанного в 1930 году при сотрудничестве интеллектуальной элиты города и автора "Толкового словаря живого великорусского языка" В.И. Даля. Здание музея является памятником архитектуры XIX века, а богатейшая коллекция включает все материальные свидетельства ушедших эпох. Тем, кому интересна более современная история, стоит посетить музей-квартиру Юрия Гагарина, где хранятся вещи маленького Юрия и его родителей. <br>
</p>
<p>
	<b>Достопримечательности:</b>
</p>
<ul>
	<li>Бузулукский бор</li>
	<li>Ириклинское водохранилище</li>
	<li>Кумакское водохранилище</li>
	<li>Музей С.Т. Аксакова</li>
	<li>"Оренбургский" природный заповедник</li>
	<li>Соль-Илецк и озеро Развал</li>
	<li>Покровские пещеры<br>
	</li>
	<li>Культурный комплекс Национальная деревня (г. Оренбург)</li>
</ul>
<p>
 <b><i>Более подробную информацию о регионе смотрите на интернет-ресурсах органов государственной власти субъекта Российской Федерации. </i></b>
</p>

<p><b>
	Министерство физической культуры, спорта и туризма Оренбургской области
</b></p>



	</div>
{% endblock %}