{% extends 'main/od.html' %}

{% block title %}
Горнолыжный туризм
{% endblock %}

{% block content %}

    <h3 align="center"><span size="10" color="#ff4500" face="Arial">
    <div class="card mb-1111 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Кувандык</h4>
      </div>
      <div class="card-body">
          <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/se6616775b00d3207/image/id510aeb12d3e5bc3/version/1512482107/image.jpg" width="700" height="500">

        <h1 class="card-title pricing-card-title"> <small class="text-muted"> </small></h1>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a class="p-2 text-dark" href="/kuv">Подробнее о Кувандыке</a></button>
      </div>
    </div>
 </h3>





{% endblock %}