{% extends 'main/od.html' %}

{% block title %}
Карты
{% endblock %}

{% block content %}
<h1 align="center">Карта Гостиниц в городе Оренбург</h1>
    <br>
    <h1 align="center"> <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac71121b82a4afb4c39c2540261552854b0e8d43a2a92a30b1ca46d031e4252f6&amp;source=constructor" width="774" height="533" frameborder="0"></iframe></h1>
    <br>
    <br>
    <br>
    <br>
<h1 align="center">Карта туроператоров в Оренбурге</h1>
    <br>
    <h1 align="center"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A6c5921a4bfa50dec447fddf8aca616ba39ec2e93f65898a9c9cedf89c81ab41b&amp;source=constructor" width="774" height="533" frameborder="0"></iframe></h1>
    <br><br><br><br>
    <h1 align="center">Карта кафе и ресторанов</h1>
    <br>
    <h1 align="center"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A324a7a92a5d2d057ba744db8a5f96d872d875fec44dc7db75cba5d15d7a89c74&amp;source=constructor" width="774" height="533" frameborder="0"></iframe></h1>






{% endblock %}