{% extends 'main/od.html' %}

{% block title %}
Паломничество
{% endblock %}

{% block content %}

    <h3 align="center">Церкви в Оренбурге</h3><br>
    <h3 align="center"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A2a416672bf3bf6779d4919e42e0f61a4f97e6082f0bad96288c5f4def9360c77&amp;source=constructor" width="774" height="533" frameborder="0"></iframe></h3>
    <br><br>
    <h3 align="center">Мечети в Оренбурге</h3>
    <br>
    <h2 align="center"><iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A803b5fcd3eff8566c2f22903ab64f0c9a5baa68fca73e69afd561452d85a947e&amp;source=constructor" width="774" height="533" frameborder="0"></iframe></h2>




{% endblock %}