{% extends 'main/od.html' %}

{% block title %}
Спортивный туризм
{% endblock %}

{% block content %}
<h1 align="center"><span size="100" color="#ff4500" face="Times New Roman">Спортивный туризм</h1>
    <h2 align="center"><span size="10" color="#ff4500" face="Times New roman">в Оренбургской области</h2>
    <h4 align="center"><span size="3" color="#98FB98" face="Times New roman">На сегодняшний день развитие спортивного туризма в России и в Оренбургской области в
частности сопряжено с рядом проблем. Во-первых, несмотря на наличие благоприятных рекреационных ресурсов, динамика численности занимающихся спортивным туризмом имеет тенденцию
к снижению. Согласно официальной статистике в 2012 году Оренбургская область занимала 12
место в России по количеству лиц, занимающихся спортивным туризмом. Во-вторых, количество фирм, занимающихся организацией спортивных туров, значительно уступает числу фирм,
специализирующихся на более популярных видах отдыха (пляжном, культурно-познавательном,
приключенческом туризме). В-третьих, в стране практически отсутствует база статистической
информации, позволяющая оценить уровень развития данного вида туризма, и не сложилось
единого подхода к терминологии, характеризующего данную сферу.
        <footer class="blockquote-footer"> Святоха Н.Ю., Филимонова И.Ю. </footer>
</h4>
<h3 align="center"><span size="10" color="#ff4500" face="Arial">
    <div class="card mb-1111 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Водный туризм</h4>
      </div>
      <div class="card-body">
          <img src="http://orenobl.ru/templates/Orenburg/images/3.jpg" width="700" height="500">

        <h1 class="card-title pricing-card-title"> <small class="text-muted"> </small></h1>
                    <p5 align="centre"><font size="5">Оренбуржье обладает значительным потенциалом для организации многих видов спортивного
туризма. </p5>
            <p5 align="centre"><font size="5"> Водный спортивный туризм можно развивать на крупнейших реках (Урал, Сакмара) и водохранилищах области (Ириклинское,Черновское).  </p5>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a class="p-2 text-dark" href="/water">Подробнее о водном туризме</a></button>
      </div>
    </div>
 </h3>
{% endblock %}