{% extends 'main/od.html' %}

{% block title %}
Водный туризм
{% endblock %}

{% block content %}
<h3 align="center"><span size="10" color="#ff4500" face="Arial">
    <div class="card mb-1111 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Сплав по реке Урал</h4>
      </div>
      <div class="card-body">
          <img src="https://сезоны-года.рф/sites/default/files/images/okruzhayushhij_mir/reka_Ural.jpg" width="700" height="500">

        <h1 class="card-title pricing-card-title"> <small class="text-muted"> </small></h1>
                    <p5 align="centre"><font size="5"></p5>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a class="p-2 text-dark" href="/ural">Подробнее о сплаве по реке Урал</a></button>
      </div>
    </div>
 </h3>


    <h3 align="center"><span size="10" color="#ff4500" face="Arial">
    <div class="card mb-1111 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Сплав по реке Сакмара</h4>
      </div>
      <div class="card-body">
          <img src="https://cs6.pikabu.ru/post_img/big/2017/08/20/8/1503234174162830735.jpg" width="700" height="500">

        <h1 class="card-title pricing-card-title"> <small class="text-muted"> </small></h1>
                    <p5 align="centre"><font size="5"></p5>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a class="p-2 text-dark" href="/sakmara">Подробнее о сплаве по реке Сакмара</a></button>
      </div>
    </div>
 </h3>


{% endblock %}